.Task-Group-Entry__container {
	display: flex;
	height: 70px;
	border-bottom-style: solid; 
	border-bottom-width: 1px;
	border-bottom-color: #F0F0F0;
	align-items: center;
}

.Task-Group-Entry__image-container {
	height: 21px;
	width: 40px;
	cursor: pointer;
}

.Task-Group-Entry__text-container {
	cursor: pointer;
}

.Task-Group-Entry__name-text {
	font-size: 10pt;
	font-weight: bold;
}

.Task-Group-Entry__completion-text {
	color: #B0B0B0;
	font-size: 9pt;
}
