.taskGroupEntryContainer{
	display: flex;
	height: 70px;
	border-bottom-style: solid; 
	border-bottom-width: 1px;
	border-bottom-color: #F0F0F0;
	align-items: center;
}

.groupImageContainer{
	height: 21px;
	width: 40px;
	cursor: pointer;
}

.taskGroupTextContainer{
	cursor: pointer;
}

.taskGroupNameText {
	font-size: 10pt;
	font-weight: bold;
}

.taskGroupCompletionText {
	color: #B0B0B0;
	font-size: 9pt;
}
